.App {
  text-align: center;
}


.row {

  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: cornflowerblue solid 2px;
}


.col {
  float: left;
  padding: 15px;
  height: 50px; 
  font-size: 14px;
}

.id {
  width: 5%;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  
}

.title {
  width: 30%;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
}

.body{
  width: 65%;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.header{
  height: 10px;
  font-weight: bolder;
  font-size: 16px;
  color: cornflowerblue;
}


